.outer{
    text-align: center;
}
.inner{
    padding-left: 50px;
    padding-right: 50px;
}
.card{
    text-align: justify;
}
.ul{
    list-style-type: none;
    text-align: left;
}
.ul li{
    align-content: flex-start;
}
.buy{
    text-align: left;
}
.cart{
    border: none;
    background: none;
}
.productImage{
    max-width: 300px;
    max-height: 300px;
}